extends ../shared/layout
block main-content
    .container
        form(id='profile-form')
            label Username:
            label(id="username") #{currentUser.username}
            label Confirm password:
            input(type="password" id="password" class="form-control")
            input(type="button" id="update-profile" class="btn btn-lg" value="Update")
block page-scripts
    script(src="/js/addMoreSites.js")
    script(src="/js/updateUserInfoController.js")
    script(src="/js/httpRequester.js")
    script(src="/js/clientValidation.js")