doctype
html
    head
        title WBTA
        link(rel="stylesheet" type="text/css" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
        link(rel="stylesheet" type="text/css" href="/css/site.css")
    body
        header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") WBTA
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    if currentUser
                        li
                            a(href="/courses") courses
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/logout") Logout
                    else
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login

        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content

        footer
            p.text-center &copy; Vali0

        include scripts