extends ../shared/layout
block main-content
    .panel.panel-default
        .panel-body
            if courses.length
                table.table.table-bordered.table-striped.table-hover#results-table
                    thead
                        tr
                            th Name
                            th Course Summary
                            th Tests Count
                            th Students Count
                    tbody
                        each course in courses
                            tr
                                td
                                    a(href="course/" + course.name.replace(/\s/g, '-')) #{course.name}
                                td #{course.summary}
                                td #{course.assignedTests.length}
                                td #{course.students.length}
            else
                h4.alert.alert-danger Not available courses.
block page-scripts